<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Stimulus Autogrow</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= posts_path %>">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= new_post_path %>">Create Post</a>
  </li>
</ul>
